/* Full Page Image Header Area */

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  padding: 5px 15px 5px 5px;
}

.brandLarge {
  width: 50px;
}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(/img/backgrounds/avi-richards-183715-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Text with my name */

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

}

.socialList {

  margin-top: 20px;

  li {
    margin-right: 10px;
  }

  a:hover {
    text-decoration: none;
    opacity: 0.7;
  }

  a {
    color: whitesmoke;
    opacity: 0.9;
  }

}

.degree {
  font-size: 3.2em;
  font-weight: 200;
  letter-spacing: 1px;
}

.brandMini{
  height: 100%;
}