<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div style="margin-left: 105px">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">TomasAlabes.me</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/blog/_site/index.html">Blog</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <!--<li><a href="/experiments/experiments.html">Crazy Lab</a></li>-->
        <li><a href="/contact/contact.html">Contact.me</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/tomasAlabes" class="fa fa-github"></a></li>
        <li><a href="http://www.linkedin.com/in/tomasalabes" class="fa fa-linkedin"></a></li>
        <li><a href="https://twitter.com/TomasAlabes" class="fa fa-twitter"></a></li>
        <li><a href="https://plus.google.com/u/0/+Tom%C3%A1sAlab%C3%A9s/about" class="fa fa-google-plus"></a></li>
      </ul>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</nav>

<div id="dl-menu" class="dl-menuwrapper" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
        <li>
            <a href="#">Posts</a>
            <ul class="dl-submenu">
                <li><a href="{{ site.url }}/archive/">All Posts</a></li>
                <li><a href="{{ site.url }}/tags/">All Tags</a></li>
            </ul>
        </li>
        {% for link in site.links %}<li>{% if link.external %}<a href="{{ link.url }}">{{ link.title }}</a>{% else %}<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>{% endif %}</li>{% endfor %}
    </ul><!-- /.dl-menu -->
</div><!-- /.dl-menuwrapper -->
